.dropbtn {
  position:relative;right:600px;bottom:-100px;
   border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 16px;
    font-size: 16px;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.dropbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.dropbtn span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}


.dropdown {
    position:relative;
    display: inline-block;
}
.dropbtn:hover span {
  padding-right: 25px;
}

.dropbtn:hover span:after {
  opacity: 1;
  right: 0;
}
.dropdown-content {
     position:absolute;right:552px;bottom:-225px;
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
