body {
    color: white;
    font-family: sans-serif;
    background-color: #b2b2b2;
    background-color: rgba(0, 0, 0, .3);
    background-image: url('https://raw.githubusercontent.com/hari7krishnan2/imad-2016-app/master/ui/background(m).jpg');
    margin-top: 75px;
    
}
h2{
    font-family: Abel;
    font-style: italic;
    text-decoration-line: inline;
    text-shadow: 3px 3px #82CAFA;
    font-size: 250%;
}
p1{
    font: 12px/30px Avant Garde, serif;
    font-size: 200%;
}    
.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

