body {
    font-family: sans-serif;
    background-color: #b2b2b2;
    background-color: rgba(0, 0, 0, .3);
    background-image: url("file://ui/background copy.jpg");
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

